body {
  background-color: white;
  color: #333;
  font-family: "Book Antiqua", Georgia, serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.logo {
  width: 100px;
  height: auto;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #5489dd; /* Changed title color */
}

.content {
  padding-top: 20px;
}

p {
  font-size: 18px;
}

.typeform-container {
  margin-top: 30px;
}
/* Styles for white box overlay */
.container::after {
  content: ""; /* Create pseudo-element */
  position: absolute; /* Position the overlay */
  bottom: 0; /* Align to the bottom of the container */
  left: 0; /* Align to the left of the container */
  width: 100%; /* Cover the entire width */
  height: 18%; /* Set the height of the overlay to 10% of the container's height */
  background-color: white; /* Set background color to white */
  z-index: 1; /* Ensure the overlay is above other content */
}

