/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #1e1e1e;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#logo img {
    width: 150px; /* Adjust as needed */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
